.service-selected-option {
    margin: 1rem;
}

.service-selected-filter-options {
    background: #e2e2e2;
    padding: 1rem;
    border-radius: 0.3rem;
}

.service-selected-breadcrumbs {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.service-selected-option-results {
    background: white;
    border-radius: 0.3rem;
    padding: 0 1rem 1rem;
}

.service-selected-option-showing-results-count {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.service-selected-filter {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.service-selected-filter-name {
    font-size: 1.2rem;
}

.service-selected-option-search-btn {
    margin-top: 1rem;
}

.welcome-text {
    font-size: 2rem;
    text-align: center;
}

.service-selected-option-showing-results-count {
    font-size: 1.2rem;
}




.ant-list-item-meta-title {
    font-size: 1.5rem;
}

.ant-list-item-meta-description {
    font-size: 1.1rem;
}

.ant-list-vertical .ant-list-item-content {
    font-size: 1.1rem;
    color: #00C0EF;
}

.ant-list-item-extra {
    font-size: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ant-list-item {
    cursor: pointer;
}

.ant-list-vertical .ant-list-item-extra-wrap {
    flex-wrap: initial !important;
}

.filter-btns-container button {
    margin-bottom: 0.5rem;
}

.ant-select {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.ant-select-selection--multiple .ant-select-selection__rendered {
}

.yellow-icon {
    color: #FFB566;
}