.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.navbar-option {
  background: #0400ff;
  width: 100%;
  color: white;
  border-right: 1px solid white;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  font-size: 1.3rem;
}